﻿@{
    ViewBag.Title = "Web store";
}
<link href="~/App/Views/Style.css" rel="stylesheet" />
@section Scripts{
<script src="~/Scripts/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
<script src="../../Scripts/angular-route.js"></script>
<script src="~/App/mainApp.js"></script>
<script src="~/App/Services/itemService.js"></script>
<script src="~/App/Services/alertService.js"></script>
<script src="~/App/Controllers/ListCtrl.js"></script>
<script src="~/App/Controllers/cart.js"></script>
<script src="~/App/Controllers/SaleCtrl.js"></script>
}
<div ng-app="mainApp">
    
    <div id="wrapper">
        <div id="main" class="contanier-fluid">
            <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
                <div class="contanier-fluid">
                    <ul class="nav navbar-nav pull-right navbar-collapse">
                        <li>&nbsp;</li>
                        <li><a href="#index" class="btn btn-md btn-success"><font color="white"><span class="glyphicon glyphicon-tags"></span>&nbsp;Products&nbsp;</font></a></li>
                        <li>&nbsp;</li>
                        <li><a href="#cart" class="btn btn-md btn-success"><font color="white"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Cart</font></a></li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-bottom" role="navigation">
    </nav>
    <div class="container">

        <div class="row">
            <br />
            <div>
                <ng-view></ng-view>
            </div>
        </div>
    </div>
</div>
<hr />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
