﻿<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

@model IEnumerable<JohnCandy.WebApi.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    <a href="@Url.Action("Create", "Users")" class="btn btn-success">Create New <i class="glyphicon glyphicon-plus"></i></a>
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Users", new {id = item.ID})" class="btn btn-default">Edit <i class="glyphicon glyphicon-pencil"></i></a> |
            <a href="@Url.Action("Details", "Users", new {id = item.ID})" class="btn btn-info">Details <i class="glyphicon glyphicon-search"></i></a> |
            <a href="@Url.Action("Delete", "Users", new {id = item.ID})" class="btn btn-danger">Delete <i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
