﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container" ng-controller="SaleCtrl  as saleCtrl  ">
        <div table class="table">
            <h2>Admin Portal</h2>
            <div ng-repeat="item in saleCtrl.items">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sale ID</th>
                            <th>Price</th>
                            <th>Email</th>
                            <th>Date</th>
                            <th>Manufactuer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="success">
                            <td>{{item.ID}}</td>
                            <td>{{item.TotalAmount | currency}}</td>
                            <td>{{item.EmailAddress}}</td>
                            <td>{{item.Date}}</td>
                            <td>{{item.Manufacturer.Name}}</td>
                            <td><button ng-click="cartCtrl.removeItem($index)" class="btn btn-sm btn-danger">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
</body>
</html>