﻿
    <h2>
        Your Shopping Cart: <img src="http://www.readybytes.net/templates/strapped/images/logos/paycart-logo-256.png" max-width 65%; height="65" />
    </h2>
    <div ng-controller="CartCtrl as cartCtrl">
        <div class="container">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
        </div>
        <div class="container">
            <div class="alert alert-warning" ng-show="cartCtrl.items.length == 0">
                There are no products in your shopping cart. <a href="#index" class="alert-link">
                    Click here to return to the products inventory
                </a>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-left">
                                Quantity
                            </th>
                            <th class="text-left">
                                Item
                            </th>
                            <th class="text-right">
                                Price
                            </th>
                            <th class="text-right">
                                Subtotal
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in cartCtrl.items" ng-model="item">
                            <td class="text-left">
                                <input width="10"  type="number" value="1" min="1" mmax="{{item.InventoryCount}}" ng:required class="input-sm"  ng-model="item.Quantity"/>
                                <div class="alert alert-info" id="popUp" ng-show="item.Quantity > item.InventoryCount">
                                    <h7>
                                        Only {{item.InventoryCount}} in stock. Orders over {{item.InventoryCount}} will
                                        be shipped within 3-4 weeks.
                                    </h7>
                                </div>
                            </td>
                            <td class="text-left" ng-model="item.Name">
                                {{item.Name}} 
                            </td>
                            <td class="text-right">
                                {{item.Price | currency}}
                            </td>
                            <td class="text-right">
                                {{ (item.Price * item.Quantity) | currency}}
                            </td>
                            <td>
                                <button ng-click="cartCtrl.removeItem($index)" class="glyphicon glyphicon-remove"></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot id="total">
                        <tr>
                            <td colspan="3" class="text-right">
                                Total:
                            </td>
                            <td class="text-right" ng-model="TotalAmount">
                                {{cartCtrl.getTotal() | currency}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="text-center">
                    <a href="" button id="checkout" class="btn btn-success" ui-sref="cart" ng-click="showme=true" ng-disabled="cartCtrl.items.length == 0"> Checkout&nbsp;<i class="glyphicon glyphicon-thumbs-up"></i></a>
                </div>
            </div>
            <div>
            </div>

            <div class="form-group" id="yah">
                <form name="sale">
                    <div ng-show="showme" class="" id="wrap">
                        <br /><br />
                        <p>&nbsp;&nbsp;&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;</p>
                        <input type="email" name="email" placeholder="Enter E-Mail to complete checkout" class="form-control" id="email" ng-model="email" required />
                        <i>Order details will be sent to your e-mail.</i></br>
                        <tabe class="pull-right">
                            <tr>
                                <td>
                                    <a href="" button class="btn btn-danger" ng-click="showme=false">Cancel Checkout</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" class="btn btn-success" ng-click="cartCtrl.addSale(cartCtrl.items, email); done=true" ng-disabled="sale.$invalid">Complete&nbsp;<i class="glyphicon glyphicon-share-alt"></i></a>
                                </td>
                            </tr>
                        </tabe>
                    </div>
                </form>
            </div>
        </div>
        <div ng-show="submissionSuccess">
            Thanks for your order! {{sale}}
        </div>
    </div>

