﻿<head>
   
</head>
<div ng-controller="ListCtrl as listCtrl" ng-hide="data.error">
    <div id="backdrop" class="backdrop">

        <div id="title">
            <h1 class='retroshadow'>John Candy Land</h1>
        </div>

        <div name="searchBar">
            <i class="icon-search"></i>
            <input id="search" type="text" class="form-control" width="10" placeholder="Search for Product Name.. Category.. Manufacturer..Unicorns.." ng-model="itemSearch">
        </div>
    </div>
        
        <hr width="850" align="center" color="red" noshade />

<div id="itemsContainer">
<div id="items" class="panel panel-success panel-horizontal" ng-repeat="item in listCtrl.items | filter:itemSearch | filter:catSearch |filter: manSearch | orderBy:sortExpression">
    <div class="panel-heading">
        <strong>{{item.Name}}</strong>
        <span class="pull-right ">
            <font color="green">
                {{item.Price | currency}}
            </font>
        </span>
    </div>
    <div class="contained">
        <div class="panel-body">
            <div class="media">
                <button class="pull-left">
                    <img class="media-object" ng-src=" {{item.ImageUrl }}" width="211" height="120" />
                </button>
                <div class="media-body">
                    <div class="text-center"><h5>Category:&nbsp;{{item.Category.Name}}</h5> </div>

                    <div class="text-center"><h5>Manufacturer:&nbsp;{{item.Manufacturer.Name}}</h5></div>
                </div>
            </div>
        </div>

        <div id="panelFooter" class="panel-footer" style="height:65px">
            <button required ng-init="button1=false" ng-disabled="button1" ng-click="listCtrl.addToCart(item); showme=true; button1=true" class="btn btn-med btn-warning pull-right" type="button">
                Add to cart
                <i class="glyphicon glyphicon-usd"></i>
            </button>
            <div id="alert" class="show pull-11">
                <span class="alert alert-danger" ng-show="showme"><h9> {{item.Name}} Added!</h9></span>
            </div>
        </div>

        <div class="filters pull-right">
            <div ng-if="listCtrl.currentItem.ID" class="alert alert-info">
                <button ng-click="listCtrl.clearSelection()" type="button" href="#" title="close">x</button>
                <strong>{{listCtrl.currentItem.Name}} in cart:</strong>
            </div>
        </div>
    </div>
</div>
</div>

<div id="sort" class="col-xs-2">
        <div class="" button-group"">
            <br/><br/>
         
                <select class="form-control" id="sel1" ng-model="catSearch">
                    <option value=""> All Categories</option>
                    <option ng-repeat="item in listCtrl.items | unique:'Category.Name'" value="{{item.Category.Name}}">{{item.Category.Name}}</option>
                </select>
                <br /><br />
                <select class="form-control" id="sel1" ng-model="manSearch">
                    <option value=""> All Manufacturers</option>
                    <option ng-repeat="item in listCtrl.items | unique:'Manufacturer.Name'" value="{{item.Manufacturer.Name}}">{{item.Manufacturer.Name}}</option>
                </select><br /><br />
                <select ng-model="sortExpression" class="form-control" id="sel1">
                    <option value=""> Sort By</option>
                    <option value="Name"> Name</option>
                    <option value="Price"> Price: Low</option>
                    <option value="-Price"> Price: High</option>
                </select>

        </div>
    </div>
        
</div>