﻿<div id="main" class="contanier-fluid">
    <section>
        <div class="row" ng-controller="productDetailsController">
            <script type="text/ng-template id=productDetails.html">
                {{ product.id }}
            </script>
            <div id="bigImage" img ng-src="http://pngimg.com/upload/hammer_PNG3890.png" />
            <div id="detailsPane">
                <div class="rowHeader">Name:</div>
                <div class="rowData">{{ product.name}}</div>
                <div class="rowHeader">Price:</div>
                <div class="rowData">{{ product.price}}</div>
                <div class="rowHeader">createdDate:</div>
                <div class="rowData">{{ product.createdDate}}</div>
                <div class="rowHeader">Stock:</div>
                <div class="rowData">{{ product.inventoryCount}}</div>
                <div class="rowHeader">category:</div>
                <div class="rowData">{{ product.manufacturer}}</div>
                <div class="rowHeader">Name:</div>
                <div class="rowData">{{ product.category}}</div>
            </div>
        </div>
    </section>
</div>
