﻿/*#title {*/

    h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
h1.retroshadow {
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

#alert{
    margin-top:-15px;
    text-align:right;
}

#search{
    margin-top:-30px;
    box-shadow:rgba(0,0,0,0.4)10px 10px 10px;
    width: 600px;
    margin-left:auto;
    margin-right:auto;
}

#sort{
    float:left;
    position:absolute;
    top:510px;
    left:70px;
}

#checkout{
    margin:auto;
    padding: 10px;
}

#items{
    margin-left:30%;
}

#itemsContainer{
    overflow:visible;

}

#total{
    text-align:right;
}



.list-style {
   border-top: 0;
   border-left: solid 1px #c4c4c4;
   border-bottom: solid 1px #c4c4c4;
   border-right: solid 1px #c4c4c4;
   box-shadow: 0 1px #c1c1c1;
   padding-bottom: 1em;
   padding: 1em;
   height: 400px;
   overflow: auto;
}

 .form-group {
    padding:5px;
}

.table-striped {
    width: 450px;
    height:400px;
    padding: 100px;
    margin: auto;
    overflow: hidden;
    display:grid;
    clear: both;
}
.panel {
    color: #333;
    max-width: 600px;
    max-height:400px;

}
.sale {
    padding:10px;
}

.panel-horizontal {
    padding:12px;
    background-color:#808080;
    width:900px;
}
.panel-body {
    background-color:whitesmoke;
    max-height: 800px;
}

#panelFooter{
    text-align:left;
    max-height: 600px;
}



.backdrop {
    background-image: url('http://wallpapercave.com/wp/qgISDSs.jpg');
    background-size:900px 400px;
    background-repeat: no-repeat;
    border-radius:25px;
    max-width:900px;
    height:400px;
    margin:auto;
    box-shadow:rgba(0,0,0,0.4)10px 10px 10px;
}

   .form-group {
width: 600px;
margin: 0 auto;
padding: 20px;
    }

    .highlight, .inlineblock {
        background: #eee;
        padding: 20px;
        margin-bottom: 20px;
    }

    .inlineblock {
        display: inline-block;
    }

  

    .input-mini {
        width: 50px;
    }

    .medium-pull-5 {
         border: dashed;
         background-repeat: no-repeat; 
         background-size:50%;
    }

            .col-md-2 {
            padding: 22px;
        }

        .col-md-2 {
            margin-bottom: 42px;
        }

 body {
   
background: #70e1f5; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
 }