﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - John Candy Shop</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/foundation/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="sticky">
        <nav class="top-bar fixed" data-topbar="" role="navigation">
            <section class="top-bar-section">
                <ul class="title-area">
                    <li class="name">
                        <h1>
                            <a href="@Url.Action("Index", "Shop")">John Candy</a>
                        </h1>
                    </li>
                </ul>
                <ul class="left">
                    <li class="top">@Html.ActionLink("Store", "Index", "Shop", new { area = "" }, null)</li>
                </ul>
                <ul class="right">
                    @if (System.Web.HttpContext.Current.User != null && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class="top">@Html.ActionLink("Logout", "Logout", "Users", new { area = "" }, null)</li>
                    }
                </ul>
            </section>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script>
    $(document).foundation();
</script>
</body>
</html>
